.header {
  @apply relative;
  @apply lg:bg-transparent;
  @apply fixed top-0 left-0 right-0 z-40;
  @apply px-4 py-4 lg:py-0;
  @apply lg:flex lg:items-center;

  $parent: &;

  &.scrolled {
    @apply bg-gradient-to-b from-cornflowerBlue to-cornflowerBlue;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.07);
  }

  &.open {
    @media (max-width: 1024px) {
      @apply bg-gradient-to-b from-cornflowerBlue to-cornflowerBlue;
      box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.07);

      #{$parent}__items {
        @apply flex flex-col items-center mt-5;
      }

      #{$parent}__toggle {
        .top {
          @apply -translate-x-4;
        }

        .middle1 {
          @apply -rotate-45;
        }

        .middle2 {
          @apply rotate-45;
        }

        .bottom {
          @apply translate-x-4;
        }
      }
    }
  }

  &__toggle {
    @apply flex items-end gap-2;
    @apply font-normal text-xl text-white;
    @apply lg:hidden;

    .top,
    .bottom,
    .middle1,
    .middle2 {
      @apply transition-all;
      @apply origin-center;
    }

    .middle1,
    .middle2 {
      @apply duration-1000;
    }

    .top,
    .bottom {
      @apply duration-700;
    }
  }

  &__logo {
    &--mobile {
      @apply lg:hidden;
      @apply max-h-4;
      @apply ml-auto;

      img {
        @apply max-h-4;
      }
    }

    &--desktop {
      @apply max-h-5;
      @apply hidden lg:inline-block;

      img {
        @apply max-h-5;
      }
    }
  }

  &__items {
    @apply hidden;
    @apply container mx-auto py-4 px-6 lg:px-10 max-w-6xl;
    @apply font-normal text-xl text-white;
    @apply lg:flex gap-4 lg:flex-row items-center lg:gap-10;
  }
}
