.index-about {
  @screen lg {
    background-image: url("/images/index-about-bg.png");
    @apply bg-no-repeat;
    @apply bg-contain bg-center;
  }

  $parent: &;

  &__container {
    @apply container mx-auto px-4 xl:px-0;
    @apply flex flex-col lg:flex-row gap-24;

    &:hover {
      #{$parent}__video {
        &__toggle {
          @apply animate-pulse;
        }
      }
    }
  }

  &__detail {
    @apply grow;
    @apply flex flex-col gap-6 lg:gap-8 justify-center;
    @apply text-center lg:text-start;

    &__text {
      @apply text-lg font-normal;
    }

    &__attention {
      @apply md:self-center lg:self-start;
      @apply relative;
      @apply md:mt-6 lg:mt-12 xl:mt-16;
      @apply text-bright-red text-xl font-bold lg:text-2xl;

      &::before {
        content: url("data:image/svg+xml,%3Csvg width='80' height='103' viewBox='0 0 80 103' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.3885 59.9446C32.6258 52.7218 26.0929 43.6162 17.9142 41.7963C17.0113 41.5939 16.1061 42.7682 16.4098 43.5268C17.8178 47.1519 20.5542 49.5443 23.2492 52.2355C26.4475 55.4263 29.3122 58.8827 32.8062 61.7923C33.8992 62.7067 35.915 61.289 35.3885 59.9446Z' fill='%23B50100'/%3E%3Cpath d='M18.3235 65.5793C22.5235 66.2408 26.7762 67.0622 30.7936 67.2034C31.2247 67.2171 30.9979 66.3558 30.4963 66.1881C25.9978 64.7223 21.6827 63.9385 17.3149 62.9947C15.9981 62.7186 16.9949 65.3721 18.3235 65.5793Z' fill='%23B50100'/%3E%3Cpath d='M42.975 41.5531C42.5749 47.3453 42.0332 53.079 42.0928 59.0455C42.1004 59.687 42.8651 60.09 42.9927 59.4752C44.1027 53.9276 44.6077 48.0671 45.2542 42.2651C45.4415 40.5087 43.0998 39.719 42.975 41.5531Z' fill='%23B50100'/%3E%3C/svg%3E%0A");
        @apply absolute -top-16 -left-2;

        @screen md {
          @apply -left-10;
        }

        @screen lg {
          content: url("data:image/svg+xml,%3Csvg width='76' height='76' viewBox='0 0 76 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M47.8052 48.094C43.3503 38.7225 33.8914 26.7765 23.3416 24.0924C22.1767 23.7943 21.1947 25.2593 21.6797 26.2443C23.9425 30.9487 27.7128 34.1314 31.4712 37.6951C35.9311 41.9203 40.0064 46.4715 44.801 50.3494C46.3015 51.5679 48.6499 49.8389 47.8052 48.094Z' fill='%23B50100'/%3E%3Cpath d='M24.1581 56.1504C29.802 56.3013 35.4663 56.6397 41.0288 56.182C41.6262 56.1312 41.5967 55.1121 40.9524 54.9855C35.1598 53.8967 29.396 53.6141 23.6118 53.1439C21.8652 53.0124 22.372 56.1052 24.1581 56.1504Z' fill='%23B50100'/%3E%3Cpath d='M58.6723 24.0067C56.7421 31.5615 54.5832 39.0528 53.4 46.7932C53.275 47.6253 54.4931 48.0808 54.8432 47.2714C57.9321 39.9714 60.0557 32.3187 62.4083 24.7294C63.1061 22.4328 59.2801 21.6147 58.6723 24.0067Z' fill='%23B50100'/%3E%3C/svg%3E%0A");
          @apply -top-12 -left-12;
        }
      }

      &__arrow {
        &--desktop {
          @apply hidden lg:inline-block;
          @apply absolute -top-40 -right-32;

          @screen xl {
            @apply -top-32 -right-full;
          }

          @screen 2xl {
            right: -150%;
          }
        }

        &--mobile {
          @apply lg:hidden;
          @apply absolute right-5 top-7;

          @screen md {
            @apply -right-3;
          }
        }
      }
    }
  }

  &__video {
    @apply shrink-0;
    @apply relative;
    @apply mx-auto;

    &__toggle {
      @apply flex items-center justify-center;
      @apply absolute inset-0 m-auto;
      @apply w-24 h-24 rounded-full lg:w-32 lg:h-32;
      @apply border border-white;
      @apply backdrop-blur-sm;
    }
  }
}
