.ingredients {
  @apply relative;
  @apply mt-20 lg:mt-32;
  @apply container mx-auto;
  @apply flex flex-col xl:flex-row items-center justify-between gap-14 xl:gap-20;
  @apply px-6 lg:px-10 max-w-6xl;

  &__img {
    @apply order-1 xl:order-2;
    @apply max-w-md;
    @apply relative;

    &__svg {
      @apply absolute -rotate-45 bottom-36 -left-12 scale-75;
      @apply xl:rotate-0 xl:scale-100 xl:bottom-40 xl:-left-32;
    }

    &__flavors {
      @apply mt-12 py-3 px-8 flex flex-col items-center gap-2;
      @apply bg-white;
      border: 1px solid rgba(224, 224, 224, 0.5);
      box-shadow: 42px 42px 50px rgba(0, 0, 0, 0.06);
      border-radius: 500px;

      @apply xl:absolute bottom-10 -left-72;

      &__title {
        @apply text-lg font-bold text-white;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #002147;

        span {
          @apply text-prussianBlue;
        }
      }

      &__imgs {
        @apply flex gap-2;

        & > div {
          @apply max-h-12;

          img {
            @apply max-h-12;
          }
        }
      }
    }
  }

  &__info {
    @apply max-w-lg;
    @apply order-2 xl:order-1;

    .title {
      @apply max-w-max;
      @apply text-center xl:text-start xl:mx-0;
    }

    &__text {
      @apply mt-8;
      @apply font-light text-xl xl:text-2xl;
      @apply text-center xl:text-start;
    }

    &__list {
      @apply mt-8;
      @apply font-normal;
      @apply text-xl;
      @apply flex flex-col gap-6;

      @screen xl {
        font-size: 22px;
      }

      li {
        @apply flex items-center gap-3;

        span {
          @apply rounded-full;
          // @apply bg-black;

          i {
            @apply relative;
            @apply flex items-center justify-center;
            @apply w-12 h-12 rounded-full bg-RobinEggBlue bg-opacity-20;
            @apply text-RobinEggBlue text-2xl xl:text-3xl font-bold;
            @apply not-italic;

            @screen xl {
              width: 54px;
              height: 54px;
            }
          }
        }
      }
    }
  }
}
