.index-hero {
  @apply relative;
  @apply pt-14 lg:pt-48 pb-12 lg:pb-32;
  @apply bg-gradient-to-b from-cornflowerBlue to-sail;

  &__clouds {
    object-fit: cover;
    object-position: center bottom;

    @screen 2xl {
      object-position: center top;
    }
  }

  &__container {
    @apply relative container mx-auto px-4 flex flex-col gap-10 items-center;
    @apply lg:flex-row;
  }

  &__img {
    @apply w-full;
  }

  &__info {
    @apply w-full;
    @apply flex flex-col items-center gap-4;
    @apply lg:items-start lg:gap-5 xl:gap-6;

    &__first-txt {
      @apply font-normal text-xl lg:text-2xl xl:text-3xl;
    }

    &__logo {
      @apply max-h-16;
      @apply relative;

      img {
        @apply max-h-16;
      }
    }

    &__badge {
      @apply relative;
    }

    &__second-txt {
      @apply font-bold text-xl lg:text-2xl xl:text-3xl;
      @apply relative;
    }
  }
}
