.blog-itm {
  @apply relative;
  @apply border border-mercury rounded-2xl bg-white;
  @apply transition-all;
  @apply overflow-visible;

  $parent: &;

  &:hover {
    box-shadow: -42px 42px 50px -4px rgba(0, 0, 0, 0.08);

    // #{$parent}__image {
    //   &::before {
    //     @apply bottom-5 lg:bottom-7 2xl:bottom-2;
    //   }
    // }

    #{$parent}__detail {
      &__link {
        &::after {
          @apply animate-bounce-horizontal;
        }

        @screen lg {
          @apply h-5 mb-auto;
        }
      }
    }
  }

  &__image {
    @apply relative;
    @apply h-72;
    @apply mb-28;
    @apply rounded-t-2xl;

    img {
      @apply rounded-t-2xl;
    }

    // &::before {
    //   content: "";
    //   background-image: url("/images/blog-itm-pattern.png");
    //   @apply bg-no-repeat;
    //   background-size: 100% 100%;
    //   @apply block h-16 w-full;
    //   @apply absolute left-0 bottom-5;
    //   @apply z-10;
    //   @apply transition-all;
    //   @apply lg:-bottom-16;
    // }
  }

  &__detail {
    @apply absolute bottom-0 left-0 right-0 px-7 py-4 bg-white z-20;
    @apply rounded-b-2xl;
    @apply flex flex-col gap-3;
    // @apply hidden;

    &__title {
      @apply text-base lg:text-lg;
    }

    &__meta {
      @apply flex items-center justify-between;
      @apply font-medium text-sm lg:text-base text-silver-chlic;

      .date,
      .views {
        @apply flex items-center gap-1;
      }

      .date {
        &::before {
          content: url("data:image/svg+xml,%3Csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.165 9.50952H2.82641' stroke='%23A7A7A7' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.92798 13.0895H6.92031' stroke='%23A7A7A7' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.9958 13.0895H10.9881' stroke='%23A7A7A7' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.072 13.0895H15.0643' stroke='%23A7A7A7' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.92798 16.652H6.92031' stroke='%23A7A7A7' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.9958 16.652H10.9881' stroke='%23A7A7A7' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.072 16.652H15.0643' stroke='%23A7A7A7' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.29321 2.72223V5.73878' stroke='%23A7A7A7' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.6982 2.72223V5.73878' stroke='%23A7A7A7' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.11489 4.16986H14.8766C17.5686 4.16986 19.25 5.66947 19.25 8.42597V16.7215C19.25 19.5213 17.5686 21.0556 14.8766 21.0556H7.12342C4.42292 21.0556 2.75 19.5473 2.75 16.7908V8.42597C2.74157 5.66947 4.41448 4.16986 7.11489 4.16986Z' stroke='%23A7A7A7' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
      }

      .views {
        &::before {
          content: url("data:image/svg+xml,%3Csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.10211 11.9376C8.10211 13.5381 9.40011 14.8352 11.0006 14.8352C12.6011 14.8352 13.8982 13.5381 13.8982 11.9376C13.8982 10.3362 12.6011 9.03906 11.0006 9.03906C9.40011 9.03906 8.10211 10.3362 8.10211 11.9376Z' stroke='%23A7A7A7' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.0019 18.6309C7.51125 18.6309 4.3185 16.1211 2.52091 11.9374C4.3185 7.75372 7.51125 5.2439 11.0019 5.2439H10.9982C14.4889 5.2439 17.6817 7.75372 19.4792 11.9374C17.6817 16.1211 14.4889 18.6309 10.9982 18.6309H11.0019Z' stroke='%23A7A7A7' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
      }
    }

    &__link {
      @apply text-sm lg:text-base text-bright-red font-bold;
      @apply flex items-center gap-2;

      &::after {
        content: "";
        @apply inline-block w-5 h-5 mb-1;
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6406 11.8894L5.08203 11.8894' stroke='%23B50100' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.2862 17.4119L18.832 11.8899L13.2862 6.36694' stroke='%23B50100' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        @apply bg-no-repeat bg-center;
      }

      @screen lg {
        @apply transition-all;
        @apply h-0 overflow-hidden -mb-3;
      }
    }
  }
}
