@font-face {
  font-family: "calibri";
  src: url("../fonts/calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "calibri";
  src: url("../fonts/calibrib.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
